*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgb(84, 8, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 a{
    text-decoration: none;
    color: white;
}
nav h1{
    margin-left: 2rem;
    font-size: 2.5rem;
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.inner-nav{
    margin-right: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}
.name h2{
    text-transform: capitalize;
    color:rgb(124, 207, 207);
    margin-left: 1rem;
}
#btn{
    padding: 10px;
    background-color: rgb(47, 59, 168);
    color: whitesmoke;
    border-radius: 10px;
    font-weight: 550;
    border:1px solid rgb(61, 61, 167);
    transition: all .2s linear;
}
#btn:hover{
    background-color: rgb(7, 146, 3);
}
.welcome{
    margin: 1rem 0;
    text-align: center;
    color: brown;
}
img{
    width: 100%;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button a{
    color: whitesmoke;
    text-decoration: none;
}
.btn button{
    margin-top: 1rem;
    padding:10px;
    background: rgb(23, 23, 24);
    color: whitesmoke;
    border:1.3px solid rgb(99, 121, 221);
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s linear;
}
.btn button:hover{
    background-color: rgb(53, 51, 51);
}