*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgb(86, 17, 150);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 a{
	text-decoration:none;
	color:whitesmoke;
}
nav h1{
    margin-left: 2rem;
    font-size: 2.4rem;
}
nav button{
    margin-right: 3rem;
    padding:8px;
    background-color: transparent;
    border:1px solid wheat;
    font-size: 1.2rem;
    border-radius: 10px;
}
nav button:hover{
    background-color: rgb(166, 49, 212);
}
nav button a{
    text-decoration: none;
    color :white;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content h1{
    margin: 1rem 0;
    color: rgb(13, 119, 190);
    text-align: center;
}
#error0{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    height: 20px;
    color:red;
    font-weight: 550;
}
table{
    border-left: 30px solid rgb(44, 43, 42);
    border-radius: 40px;
    box-shadow: rgb(141, 141, 235);
}
td{
    font-size: 1.3rem;
    padding: 5px 0;
    padding-left: 1rem; 
}
input{
    border:1px solid rgb(141, 141, 235);
    padding:6px;
    border-radius: 10px;
}
.error{
    font-size: 0.8rem;
    padding-left: .4rem;
    color: red;
}
.gen{
    color:rgb(228, 85, 109);
    font-size: 1.2rem;
}
.tc{
    text-align: right;
}
.tc1{
    color:rgb(89, 122, 231);
    font-size: 1.1rem;
}
.inner-cont{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
.block{
    text-align: center;
}
#register{
    margin-bottom: .6em;
    padding: 8px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 1.03rem;
    transition: all .2s linear;
}
#register:hover{
    background-color: rgb(7, 138, 7);
}
.login{
    color: red;
}